@{
    ViewData["Title"] = "Кеширование";
}

<h2>Кешированное время: <strong>@ViewBag.Time</strong></h2>
<h2>Текущее время: <strong>@DateTime.Now.ToString("T")</strong></h2>

<p>Кеш обновляется каждые 15 секунд</p>