@{
    ViewData["Title"] = "Главная страница";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Core App</title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>Добро пожаловать на сайт!</h1>
    <p>Статические файлы:</p>

    <img src="~/images/lock_windows.jpg" alt="ФОТО" />


    <script src="~/js/site.js"></script>
</body>
</html>
